.add-sport-title {
    display: flex;
    justify-content: space-between;
}
.modal-sport-add {
    cursor: pointer;
    margin-right: 0 !important;
    font-size: small;
    color: #e4e4e4;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.modal-sport-add:hover {
    margin-right: 20px !important;
}
.modal-sport-add .modal-sport-add-icon {
    vertical-align: middle;
    padding: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #7e7e7e;
}