.background-static {
    position: absolute;
    width:100vw;
    height: 60vh;
    background-image: url("../img/backg.jpg");
    background-size: cover;
    background-position: 100% -10%;
    background-repeat: no-repeat;
}