.profile-picture-mod {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/prof1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}