:root {
    --content-text-color: #4d4d4d;
    --content-level-0: #e3e3e3;
    --content-level-1: #74a8fc;
    --content-level-2: #5ee1af;
    --content-level-3: #ff3e53;
    --labelled-icon-blue: #61b5fe;
    --labelled-icon-gray: #cccccc;
    --main-background-color: #f2f2f2;
}
.main-content {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    width: 100vw;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top: 16vh;
}
.content-column-align {
    position: relative;
    vertical-align: top;
    display: inline-block;
}
.right-content {
    width: 28%;
    min-width: 300px;
    max-width: 320px;
}
.center-content {
    width: 50%;
    min-width: 480px;
}
.left-content {
    width: 20%;
    min-width: 218px;
    max-width: 250px;
}
.box-white {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 4px 8px -5px #000000;
}
.box-white-special {
    width: 145px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-bottom: 0;
    position: absolute;
    left: 150px;
    top: 330px;
}
/****** profile box ***/
.profile-box {
    background-image: url("../img/backg-profile.jpg");
    background-position: 100% 0;
    background-size: 100% 150px;
    background-repeat: no-repeat;
}
.profile-picture-top-offset {
    margin: auto;
    position: relative;
    width: 100px;
    height: 70px;
}
.profile-picture {
    margin: auto;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: white solid 2px;
    background-image: url("../img/prof1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-picture-empty {
    background-image: none;
    background-color: #f2f2f2;
}
.profile-name {
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 130%;
    color: var(--content-text-color);
    padding-top: 10px;
}
.profile-specialities {
    margin-bottom: 15px;
    color: var(--content-text-color);
    text-align: center;
}
.profile-specialities .profile-indication {
    width: 500px;
    display: inline-block;
    color: white;
}
.profile-labelled-icon {
    padding: 3px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.profile-labelled-icon-click {
    display: inline-block;
    width: 20%;
    text-align: center;
}
.speciality-icon-level-0-a {
    background-color: var(--content-text-color);
}
.speciality-icon-level-0-b {
    background-color: #1877d1;
}
.speciality-icon-level-0 {
    background-color: var(--content-level-0);
}
.speciality-color-level-0 {
    color: var(--content-level-0);
}
.speciality-icon-level-1 {
    background-color: var(--content-level-1);
}
.speciality-color-level-1 {
    color: var(--content-level-1);
}
.speciality-icon-level-2 {
    background-color: var(--content-level-2);
}
.speciality-color-level-2 {
    color: var(--content-level-2);
}
.speciality-color-level-3 {
    color: var(--content-level-3);
}
.speciality-icon-level-3 {
    background-color: var(--content-level-3);
}
.labelled-icon-color-blue {
    background-color: var(--labelled-icon-blue);
}
.labelled-icon-color-blue-a {
    background-color: #1976d3;
}
.labelled-icon-color-gray {
    background-color: var(--labelled-icon-gray);
}
.icon-under-profile {
    border-radius: 0;
}
.special-inline-box {
    width: 28%;
}
.profile-speciality {
    box-shadow: 0px 0px 5px -1px #000000;
    border-radius: 10px;
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
    background-color: white;
    border: none;
}
/****** about box *****/
.box-header {
    text-transform: uppercase;
    font-size: 110%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e9e9e9;
    color: var(--content-text-color);
}
.about-box {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.about-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: smaller;
    text-align: justify;
    color: var(--content-text-color);
}
.about-content-date {
    padding-left: 20px;
    font-size: 90%;
    padding-right: 20px;
    margin-top: 5%;
}
/*** sports box ****/
.middle-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
.middle-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
    text-align: left;
    border-bottom: none;
    color: var(--content-text-color);
}
.sport-display {
    height: 3em;
    text-align: left;
    padding-left: 20px;
    padding-right: 5px;
}
.sport-display-dot {
    vertical-align: text-bottom;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.sport-progress-bar {
    margin-left: 15px;
    margin-right: 15px;
    /*margin-bottom: 3px;*/
    display: inline-block;
    position: relative;
    background-color: var(--main-background-color);
    height: 12px;
    width: 50%;
}
.sport-progress-level {
    display: block;
    height: 100%;
}
.sport-display-text {
    vertical-align: text-bottom;
    display: inline-block;
    font-size: small;
}
/**** outgoing creation special ****/
.return-arrow {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    vertical-align: middle;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.return-arrow img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.return-arrow:hover {
    background-color: #e9e9e9;
}
/****** activtiy box *****/
.special-hl-1 {
    color: #92c7f3;
}
.activity-display{
    height: 6em;
    text-align: left;
    padding-left: 20px;
    padding-right: 5px;
}
.activity-separator {
    padding-left: 20px;
    padding-right: 5px;
    margin-top:20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--main-background-color);
}
.activity-display-element {
    text-align: right;
    vertical-align: top;
    display: inline-block;
    width: 32%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    max-height: 150px;
    max-width: 180px;
}
.activity-display-element-s {
    width: 24%;
}
.activity-picture {
    border-radius: 4px;
    background-image: url("../img/snowboard-pic.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.activity-date {
    padding-top: 1em;
}
/** special activity display in my outgoings page **/
.activity-display-element-header {
    padding-left: 15px;
    display: block;
    height: 20%;
    text-align: left;
    color: var(--content-level-0);
    font-size: small;
}
.activity-display-body {
    display: flex;
    height: 80%;
}
.activity-display-body-name, .activity-display-body-picture {
    display: inline-block;
    height: 60%;
}
.activity-display-body-name {
    padding-left: 15px;
    border-left: 1px solid var(--main-background-color);
    text-align: left;
    font-size: 95%;
    width: 60%;
}
.activity-display-body-picture {
    text-align: center;
    width: 40%;
}
.activity-profile-picture-s {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../img/prof2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.detail-speciality {
    text-align: center;
    color: var(--main-background-color);
    border-radius: 4px;
    display: block;
    width: 100%;
}
.detail-text {
    position: relative;
    color: var(--content-text-color);
    display: block;
    text-align: left;
}
.detail-text-s {
    font-size: 80%;
}
.detail-text .activity-detail-icon, .detail-text-date .activity-detail-icon{
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.location {
    color: black;
}
.detail-text-date {
    color: var(--content-text-color);
    display: block;
    text-align: center;
    border-left: 1px solid var(--main-background-color);
}
/*bookmarks box*/

.bookmark-snippet {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 4em;
}
.snippet-element {
    display: table-cell;
}
.snippet-picture {
    position: relative;
    width: 70px;
    height: 70px;
    background-image: url("../img/snowboard-pic.jpeg");
    background-size: cover;
    border-radius: 50%;
}
.snippet-icon {
    border: 2px solid white;

}
.snippet-icon-positioner {
    position: absolute;
    left: 47px;
    top: 47px;
}
.snippet-text {
    text-align: right;
    font-size: 100%;
}
.snippet-text-date {
    font-size: 60%;
    text-align: right;
}
/*** outgoing preview ***/
.under-title {
    margin-top: -5px;
    text-transform: none;
    display: block;
    width: fit-content;
    color: #d6d6d6;
    font-size: small;
}
.outgoing-preview-cover {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.preview-row {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}
.preview-cover-place {
    text-shadow: 0px 2px 2px #000000;
    margin-bottom: 10px;
    color: white;
    font-size: 110%;
    font-weight: bold;
}
.preview-cover-title {
    text-shadow: 0px 2px 2px #000000;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.preview-cover-subtitle {
    font-size: large;
    font-weight: 100;
}
.preview-cover-title.last, .preview-cover-subtitle.last {
    margin-bottom: 10px;
}
.information-box {
    display: block;
    margin: auto;
    width: 90%;
    padding: 5px;
    
}
.information-box.description {
    text-align: justify;
    color: #8d8d99;
    font-size: small;
    width: 80%;
}
.information-row {
    width: 100%;
    text-align: left;
    display: block;
}

.information-row.line-2 {
    color: #8d8d99;
}
.information-row.line-3 {
    color: #adadbd;
}
.information-row img {
    width: 15px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.map-box {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin: auto;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    background-image: url('../img/capture.png');
    background-repeat: no-repeat;
}
.stay-preview-adress {
    text-align: left;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    display: block;
}
.stay-preview-adress p, .stay-organizer-start p {
    margin: 0;
}
.stay-preview-adress .first-line, .stay-organizer-start .first-line {
    font-weight: bold;
}
.stay-preview-adress .second-line {
    padding-left: 18px;
}
.stay-preview-adress .first-line img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 3px;
}
.stay-organizer-title {
    padding: 5px;
    color: #4d4d4d;
    text-align: left;
}
.stay-organizer-title.more-padding {
    padding-left: 10px;
}
.stay-organizer-start {
    width: 85%;
    padding: 5px;
    margin: auto;
    background: white;
    box-shadow: 0px 1px 8px -3px #000000;
}
.stay-organizer-title img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 3px;
}
.stay-organizer-price {
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
}
.stay-organizer-price div {
    color: white;
    font-size: smaller;
}
.stay-organizer-price div.price-indication {
    width: 40px;
}
.stay-organizer-price div span {
    font-weight: bold;
    font-size: 200%;
    margin-right: 5px;
}
.map-box-large {
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
    width: 630px;
    height: 400px;
    border-radius: 10px;
    background-image: url('../img/capture-1.png');
    background-repeat: no-repeat;
    background-position: 5%;
}
.map-tag {
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 2px 6px -1px black;
    background-repeat: no-repeat;
    background-size: cover;
}
.map-tag-s {
    display: inline-block;
    cursor: auto;
    width: 45px;
    height: 45px;
}
.map-tag img {
    display: none;
    bottom: 40px;
    width: 60px;
    height: 80px;
    position: relative;
}
.note {
    color: #adadbd;
    font-style: italic;
    font-size: small;
    display: inline-block;
}
.euro-icon {
    color: #8d8d99;
    font-weight: bold;
    position: absolute;
    left: 160px;
    font-size: 150%;
    top: 2px;
}
.chosen-place {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    width: 630px;
}
.preview-chosen-place-element {
    height: 50px;
    display: inline-block;
}
.preview-chosen-place-element .place-name {
    display: inline-block;
    width: 210px;
    text-align: left;
    font-size: 110%;
    margin-left: 15px;
}
.preview-chosen-place-element .place-name span {
    color: #adadbd;
}
/***trip advisor special container ***/
.trip-advisor-container {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: white;
    box-shadow: 0px 1px 8px -3px #000000;
}
.trip-advisor-meter {
    display: block;
    TEXT-ALIGN: CENTER;
}
.trip-advisor-container .meter-element {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 2px solid #589341;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    margin: -2px;
}
.trip-advisor-container .meter-element.large {
    width: 25px;
    height: 25px;
}
.trip-advisor-container .meter-subelement {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: #589341;
}
.trip-advisor-container .meter-subelement.large {
    width: 17px;
    height: 17px;
}
.trip-advisor-container .meter-subelement.half {
    background: linear-gradient(to right, #589341 0%,#589341 50%, #ffffff 50%, #ffffff 100%);
}
.trip-advisor-container .meter-subelement.empty {
    background: transparent;
}
.trip-advisor-text {
    position: absolute;
    font-size: smaller;
    height: 20px;
    line-height: 20px;
    bottom: 4px;
    left: 40px;
}
.trip-advisor-logo {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}
.trip-advisor-logo.large {
    height: 30px;
    width: 30px;
}
/*** photo gallery ***/
.right-arrow {
    left: 92%;
    top: 124px;
    z-index: 10;
    padding-left: 3px;
    background-color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px -2px #000000;
}
.right-arrow img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.gallery-container {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: auto;
    width: 85%;
    height: 260px;
    display: block;
}
.slider-element {
    display: block;
    position: absolute;
    width: 100%;
    height: 260px;
    text-align: left;
    list-style-type:none;
    padding: 0;
}
.slider-element li {
    width: 100%;
    float: left;
}
.gallery-snippet {
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    width: 110px;
    height: 110px;
    margin: 5px 0 5px 10px;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-hover {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    display: none;
}
.gallery-hover img {
    display: none;
    left: 45px;
    top: 40px;
    position: absolute;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.gallery-snippet:hover .gallery-hover {
    display: block;
}
.gallery-snippet:hover .gallery-hover img {
    display: block;
}
/**** responsive mobile *****/
@media screen and (max-width: 980px) {
    .right-content {
        min-width: 245px;
    }
    .box-white-special {
        left: 50px;
    }
}
@media screen and (max-width: 736px) {
    .main-content {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .right-content {
        display: inline-block;
        width: 31%;
        max-width: 320px;
        min-width: 200px;
    }
    .box-white-special {
        left: 37px;
        top: 333px;
    }
    .center-content {
        display: inline-block;
        width: 50%;
        min-width: 480px;
    }

}
@media all and (max-width: 480px) {
    .main-content {
        display: block;
    }
    .box-white-special {
        width: 145px !important;
        left: 139px;
        top: 313px;
    }
    .content-column-align {
        margin: auto;
        display: block;
    }
    .right-content {
        min-width: 300px;
        max-width: 480px;
        width: 100%;
    }
    .center-content {
        min-width: 300px;
        max-width: 480px;
        width: 100% !important;
    }
    .left-content {
        min-width: 300px;
        max-width: 480px;
        width: 100%;
    }
    .box-white {
        padding: 10px;
        width: 100%;
    }
    .bookmarks-box .bookmark-snippet {
        height: 5em;
    }
    .bookmarks-box .snippet-element .snippet-text {
        font-size: 170%;
    }
    .bookmarks-box .snippet-element .snippet-text-date {
        font-size: 98%;
    }
    .sport-display {
        height: 4em;
        text-align: center;
    }
    .sport-display .sport-progress-bar {
        width: 80%;
    }
    .activity-display {
        padding-left: 0;
        padding-right: 0;
    }
    .activity-display .detail-text {
        font-size: 73%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
@media all and (max-width: 360px) {
    .sport-display {
        border-bottom: 1px solid var(--main-background-color);
        margin-bottom: 10px;
    }
    .box-white-special {
        left: 77px;
    }
    .sport-display .sport-progress-bar {
        width: 78%;
    }
    .activity-display .activity-detail-icon {
        margin-right: 0;
    }
    .right-content {
        min-width: 280px;
        max-width: 320px;
        width: 100%;
    }
    .center-content {
        min-width: 280px;
        max-width: 320px;
        width: 100%;
    }
    .left-content {
        min-width: 280px;
        max-width: 320px;
        width: 100%;
    }
}