:root {
    --main-color : #004a9f;
    --color-hover: #003068;
    --text-navbar-color: #ffffff;
    --main-background-color: #f2f2f2;
}
body {
    overflow-x: hidden;
    background-color: var(--main-background-color);
}
/***** navbar ****/
.topnav {
    padding-left: 7vw;
    padding-right: 7vw;
    justify-content: space-around;
    display: flex;
    position: fixed;
    z-index: 105;
    background-color: var(--main-color);
    overflow: hidden;
    height: 54px;
    width: 100vw;
    min-height: 54px;
    max-height: 55px;
    box-shadow: 0px 0px 8px 2px #000000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.dark-background-menu {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.dark-bck-displayer {
    display: block;
}
.element {
    width: 9vw;
    height: 100%;
    padding-top: 15px;
    display: inline-block;
    font-size: 90%;
    text-align: center;
    text-decoration: none;
    color: var(--text-navbar-color);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.element:hover {
    background-color: var(--color-hover);
}
.logout-navbar:hover, .logo-navbar:hover {
    background: none;
}
.logo-navbar {
    width: 3vw;
}
.offset-navbar {
    width: 5vw;
    height: 100%;
    display: inline-block;
}
.icon-navbar {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.icon-2-navbar {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.icon-2-navbar:not(.menu-icon) {
    width: 30px;
    height: 30px;
}
.logout-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 11vw;
}
.logout-navbar .sub-element {
    vertical-align: text-top;
    height: 60%;
    width: 3.5vw;
    /* float: left; */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: var(--text-navbar-color);
}
.settings-navbar {
    border-left: var(--text-navbar-color) solid 1px;
}
.profile-icon-navbar {
    position: relative;
    bottom: 3px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: solid 2px var(--text-navbar-color);
}
.menu-icon-navbar {
    display: inline-block;
    width: 31px;
    height: 31px;
}
.menu-navbar {
    width: 45px;
    display: none;
    height: 54px;
    padding-top: 2vh;
    float: right;
}

/*responsive menu bar */
@media screen and (max-width: 980px) {
    .topnav {
        padding-left: 0;
        padding-right: 0;
    }
    .topnav .offset-navbar {
        display: none;
    }
    .topnav .element:not(:first-child) {
        display: none;
    }
    .topnav .logo-navbar {
        width: 100%;
        float: none;
        padding-bottom: 2vh;
        display: block !important;
        text-align: center;
        font-size: large;
    }
    .topnav .menu-navbar {
        position: absolute;
        right: 10px;
        display: block;
        top:0;
    }
    .topnav.responsive-topnav {
        padding-left: 0;
        padding-right: 0;
        display: block;
        justify-content: initial;
        max-height: none;
        height: auto;
    }
    .settings-navbar {
        border-left: none;
    }
    .topnav.responsive-topnav .element {
        z-index: 99;
        width: 100%;
        float: none;
        padding-bottom: 2vh;
        display: block !important;
        text-align: center;
        font-size: large;
        border-bottom: 1px solid var(--color-hover);
    }
    .topnav .logo-navbar {
        background-color: var(--color-hover);
    }
    .topnav.responsive-topnav .element .icon-navbar{
        display: none;
    }
    .topnav.responsive-topnav .logout-navbar .sub-element{
        width: 10vw;
    }
}
@media screen and (max-width: 1024px) {
    .topnav .icon-navbar {
        width: 11px;
        height: 11px;
        margin-right: 1px;
    }
}