.generic-modal-container {
    display: none;
    top: 0;
    left: 0;
    z-index: 110;
    position: fixed;
    background: rgba(0,0,0,0.5);
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.generic-modal {
    color: #505050;
    margin: auto;
    padding-bottom: 10px;
    background: white;
    border-radius: 10px;
    width: 35%;
    box-shadow: 0px 4px 8px -5px #000000;
}
.generic-modal-header {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3ec;
}
.generic-modal-header div {
    display: inline-block;
}
.generic-modal-header-text {
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    width: 89%;
}
.generic-modal-header-close {
    cursor: pointer;
    text-align: right;
    width: 8%;
}
.generic-modal-header-close img {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.generic-modal-header-close:hover img {
    transform: rotate(180deg);
}
.modal-content-row {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.larger-row {
    position: relative;
    width: 90%;
}
.lowest-row {
    margin-top: 30px;
}
.modal-content-row div:not(.select-selected), .modal-content-row div:not(.custom-select), .modal-content-row div:not(.modal-sport-add) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.generic-modal-input {
    background-color: #f5f5f5;
    color: #8d8d97;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.generic-modal-input img, .mod-icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.generic-modal-button {
    text-align: center;
    width: 150px;
    height: 35px;
    cursor: pointer;
}
.generic-modal-button:hover, .generic-modal-button:focus {
    background-color: #cbcbda;
}
.generic-modal-text {
    padding: 5px;
    width: 100%;
    height: 40px;
}
.icon-in-field {
    left: 90%;
    bottom: 20px;
    width: 20px;
    height: 20px;
    position: relative;
}
.generic-modal-textarea {
    padding: 5px;
    width: 100%;
    height: 200px;
}
.generic-modal-text:focus {
    background-color: #e4e4e4;
    color: #8d8d97;
    border-bottom: 1px solid #7e7e7e;
}
.generic-modal-validate {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #1976d3;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.generic-modal-cancel {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #bcbabb;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.generic-modal-validate:hover, .generic-modal-validate:focus {
    background: #1462af;
}
.generic-modal-cancel:hover, .generic-modal-cancel:focus {
    background: #4d4d4d;
}
.custom-select {
    margin-right: 0 !important;
    display: inline-block !important;
    position: relative;
}
.custom-select select {
    display: none;
}
.select-selected {
    margin-right: 0 !important;
    display: block !important;
    background-color: #f5f5f5;
    color: #8d8d97;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #8d8d97 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #8d8d97 transparent;
    top: 7px;
}
.select-items div,.select-selected {
    margin-right: 0 !important;
    display: block !important;
    color: #8d8d97;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.select-menu-left .select-items div, .select-menu-left .select-selected {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.select-menu-right .select-items div, .select-menu-right .select-selected {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.select-items {
    margin-right: 0 !important;
    display: block !important;
    border-radius: 10px;
    position: absolute;
    background-color: #f5f5f5;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none !important;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* connexion modal */
.social-button {
    position: relative;
    text-align: center;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    cursor: pointer;
}
.social-button .social-icon {
    width: 40px;
    padding-right: 0px;
    top: 0;
    height: 100%;
    display: block !important;
    position: absolute;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.social-button .social-icon img { 
    position: absolute;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 9px;
}
.facebook-button {
    background-color: #3b5999;
}
.facebook-button:hover, .facebook-button:focus {
    background-color: #2e4575;
}
.gmail-button {
    background-color: #dc4437;
}
.gmail-button:hover, .gmail-button:focus {
    background-color: #b1372c;
}
.linkedin-button {
    background-color: #096490;
}
.linkedin-button:hover, .linkedin-button:active {
    background-color: #074a6b;
}
.or-display {
    display: flex;
    justify-content: space-between;
}
.or-display div {
    margin-right: 0 !important;
}
.or-display .bar {
    display: inline-block;
    border-top: 1px solid #cccccc;
    width: 40%;
    margin-top: 11px;
}
.or-display .text {
    display: inline-block;
    width: 19%;
    color: #949494;
    text-align: center;
}
.modal-link {
    font-size: small;
    color: #cfcfcf;
    text-transform: uppercase;
    text-decoration: none;
}
.modal-link:hover, .modal-link:focus {
    color: #8b8b8b;
}
.modal-link-blue {
    font-size: small;
    color: #73d9e2;
    text-decoration: none;
}
.modal-link-blue:hover, .modal-link-blue:focus {
    color: #677c9b;
}
/*** responsive ***/
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 736px) {
    .generic-modal {
        width: 50%;
        max-width: 440px;
    }
    .generic-modal .modal-content-row {
        width: 80%;
    }
}
@media all and (max-width: 480px) {
    .generic-modal {
        width: 95%;
        max-width: 360px;
    }
    .generic-modal .modal-content-row {
        width: 95%;
    }
}
@media all and (max-width: 360px) {
}