.contacts-header-button {
    margin-right: 15px;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-size: small;
    min-width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.contacts-header-button:hover {
    background-color: #dadada;

}
.header-button-icon {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.icon-rounded {
    padding: 2px;
    background: white;
    border-radius: 50%;
}
.header-button-blue {
    background-color: #63a4fe;
    color: white;
}
.header-button-blue:hover {
    background-color: #4d7dc2;
}
.header-button-gray {
    background-color: #727272;
    color: white;
}
.header-button-gray:hover {
    background-color: #4b4b4b;
}
.generic-modal-search {
    border-radius: 20px !important;
    text-align: left;
    padding: 5px;
    padding-left: 30px;
    height: 40px;
    width: 40%;
    background: #4b4b4b;
}
.generic-modal-search-2 {
    outline: none;
    border: none;
    border-radius: 20px !important;
    text-align: left;
    padding: 5px;
    padding-left: 30px;
    height: 40px;
    width: 100%;
    background-color: white;
    color: #9d9d9d;
    box-shadow: 0px 3px 8px -3px #000000;
}
.friend-box {
    text-align: left;
    padding:8px;
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 100px;
}
.friend-box-element {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.friend-box-image {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: url("../img/prof1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.friend-box-image-s {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 20px;
}
.friend-box-info {
    width: 60%;
    padding-left: 5px;
    padding-top: 10px;
    height: 100%;
}
.friend-box-action {
    position: absolute;
    cursor: pointer;
    height: 100%;
}
.friend-icon {
    position: absolute;
    top: 53px;
    left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0px 0px 4px 4px #f5f5f5;
}
.friend-box-info-line {
    display: block;
    font-size: small;
    width: 100%;
    color: #9a9a9a;
}
.online-dot {
    width: 10px;
    height: 10px;
    background-color: #60e4b2;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.offline-dot {
    background-color: #e3e3e3;
}
.friend-box-action-element-cont {
    height: 40%;
    display: flex;
    align-items: center;
}
.friend-box-action-element {
    width: 20px;
    height: 20px;
}
/** page contact part **/
.box-message-contain {
    margin-top: 20px;
    display: block;
    width: 100%;
    overflow-y: auto;
    height: auto;
    max-height: 380px;
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
}
.message-box {
    cursor: pointer;
    text-align: left;
    padding: 8px;
    position: relative;
    display: block;
    height: 100px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    /* border-radius: 100px; */
}
.message-box-time {
    font-size: xx-small;
}
.message-icon {
    position: absolute;
    top: 53px;
    left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
}
.input-text-footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    border-top: 2px solid #e9e9e9;
    height: 40px;
}
.text-container-footer {
    outline: none;
    background: white;
    border: none;
    color: #727272;
    padding: 10px;
    width: 80%;
    height: 100%;
}
.send-button {
    cursor: pointer;
    width: 10%;
    height: 100%;
}
.send-button img {
    width: 30px;
    height: 30px;
}
.discussion-container {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: 430px;
    max-height: 430px;
}
.message-row {
    text-align: left;
    padding: 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    min-height: 120px;
    width: 100%;
    background-color: white;
}
.message-cell {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    display: inline-block;
}
.message-cell-photo {
    width: 20%;
    text-align: center;
}
.message-cell-content {
    width: 80%;
}
.message-cell-time {
    width: 20%;
    text-align: center;
    line-height: 60px;
}
.message-cloud {
    height: auto;
    width: auto;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
}
.message-cloud-blue {
    background-color: #63a4fe;
    color: white;
    float: left;
}
.message-cloud-gray {
    background-color: #f2f2f2;
    color: black;
    float: right;
}
.arrow-blue {
    float: left;
    right: -1px;
}
.arrow-gray {
    float: right;
    left: -1px;
}
.message-arrow {
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: relative;
    top: 8px;
}
.message-arrow .arrow-outer {
    width: 0;
    height: 0;
    border-right: 20px solid #63a4fe;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.message-arrow .arrow-outer-right {
    width: 0;
    height: 0;
    border-left: 20px solid #f2f2f2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.message-arrow .arrow-inner {
    width: 0;
    height: 0;
    border-right: 20px solid #63a4fe;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 2px;
}
.message-arrow .arrow-inner-right {
    width: 0;
    height: 0;
    border-left: 20px solid #f2f2f2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    right: 2px;
}
/*** responsive ***/
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 736px) and (min-width: 481px) {
    .left-content-l {
        width: 30%;
        max-width: 730px;
    }
    .right-content-l {
        min-width: 360px;
        max-width: 730px;
        width: 57%;
    }
    .right-content-l .box-white, .left-content-l .box-white {
        width: 96%;
    }

}
@media all and (max-width:480px) and (min-width:361px) {
    .left-content-l {
        width: 30%;
        max-width: 460px;
    }
    .friend-box-info-line {
        font-size: 82%;
    }
}
@media all and (max-width: 480px) {
    .left-content-l {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .left-content-l .profile-box {
        width: 100%;
    }
    .box-message-contain {
        height: 209px;
    }
    .discussion-container {
        height: 370px;
    }
    .friend-box-image {
        width: 65px;
        height: 65px;
    }
    .message-icon {
        top: 40px;
        left: 40px;
        width: 25px;
        height: 25px;
    }
    .contacts-header-button {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .generic-modal-search {
        width: 100%;
    }
    .friend-icon {
        top: 43px;
        left: 45px;
        width: 25px;
        height: 25px;
    }
}
@media all and (max-width: 360px) {
    
    .header-button-gray, .contacts-header-button {
        width: 100%;
    }
    .header-button-blue {
        width: 44%;
    }
}