.sub-column {
    vertical-align: top;
    padding: 20px;
    width: 49%;
    display: inline-block;
}
.sub-column-content-row {
    margin-bottom: 10px;
    width: 100%;
    display: block;
}
.sub-column-space-row {
    margin-top: 30px;
}
.sub-column-title {
    text-align: left;
}
.sub-column-title .icon-title {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.select-items div, .select-selected {
    border-radius: 10px;
}
.generic-modal-text-s {
    width: 64%;
    margin-right: 0;
}
.delete-account {
    text-transform: uppercase;
    color: #4d4d4d;
    text-align: center;
    text-decoration: none;
}
.box-footer {
    margin-top: 50px;
}
.delete-account:hover {
    color: #777777;
}
/*** responsive ***/
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 736px) {
    .left-content-l {
        width: 100%;
        margin-bottom: 12px;
        max-width: 730px;
    }
    .left-content-l .profile-box {
        width: 360px;
        margin: auto;
    }
}
@media all and (max-width: 480px) {
    .left-content-l {
        width: 30%;
        max-width: 360px;
    }
    .sub-column {
        padding: 5px;
    }
}
@media all and (max-width: 360px) {
    .sub-column {
        display: block;
        width: 100%;
    }
}