.top-content-offset {
    position: relative;
    width: 100%;
    height: 20vh;
}
.top-main-content {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100vw;
}
.top-main-content .profile-name {
    color: white;
}
.main-content-no-padding-top {
    padding-top: 0 !important;
}
.right-content-l {
    width: 68%;
    min-width: 740px;
    max-width: 745px;
}
.left-content-l {
    width: 30%;
    min-width: 300px;
    max-width: 320px;
}
.edit-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}
.edit-icon:hover {
    cursor: pointer;
}
#complete-activities {
    display: none;
}
.sport-default-check {
    padding-left: 25px;
    display: inline-block;
}
.sport-display-add {
    background-color: #e2e2e2;
}
.sport-add {
    margin-top: 10px;
    color: #e2e2e2;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.sport-add:hover {
    cursor: pointer;
    margin-left: 15px;
}
.sport-add:hover .add-labelled-icon {
    transform: rotate(180deg);
}
.add-labelled-icon {
    position: relative;
    padding: 3px;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.larger-sport-display {
    width: 10%;
    padding-left: 5px;
}
.container-check {
    color: white;
    position: relative;
    bottom: 3px;
    display: inline-block;
    font-size: x-small;
    vertical-align: text-top;
}
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox-customized {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    position: relative;
    top: 3px;
}
.delete-box {
    margin-left: 19px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: #7e7e7e;
    position: relative;
    top: 3px;
}
.delete-box img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
}
.delete-box:hover {
    background-color:#363636;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked + label .checkbox-customized, [type="checkbox"]:checked + label .checkbox-customized {
    border:none;
    background-color: #63b5fe;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label .checkbox-customized, [type="checkbox"]:not(:checked) + label .checkbox-customized {
    background-color: white;
    border: 2px solid #e2e2e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked + label .container-check, [type="checkbox"]:checked + label .container-check {
    color: #e2e2e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label .container-check, [type="checkbox"]:not(:checked) + label .container-check {
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.checkbox-customized .checkmark {
    display: none;
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
[type="radio"]:checked + label .checkbox-customized .checkmark, [type="checkbox"]:checked + label .checkbox-customized .checkmark {
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label .checkbox-customized .checkmark, [type="checkbox"]:not(:checked) + label .checkbox-customized .checkmark {
    display: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.generic-button {
    outline: none;
    text-align: center;
    width: 150px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: small;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    cursor: pointer;
}
.generic-button-small {
    text-align: left;
    width: 100%;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-size: smaller;
    color: white;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    cursor: pointer;
}
.black-tag {
    background-color: #4d4d4d;
}
.green-tag {
    background-color: #70d392;
}
.tag-price {
    cursor: auto;
    font-size: xx-small;
    text-align: center;
}
.tag-price span{
    font-size: large;
}
.tag-price span:not(.not-bold) {
    font-weight: bold;
}
.tag-price span span.not-bold {
    font-size: medium;
    font-weight: 100;
}
.actif-button {
    background-color: #63a4fe;
    color: white;
}
.contact-button {
    background-color: #5fb5fe;
}
.actif-button:hover, .contact-button:hover {
    background-color: #1c7bff;
}
.add-button {
    background-color: #004a9f;
}
.add-button:hover {
    background-color: #00346e;
}
.disabled-button {
    background-color: #e2e2e2;
    color: black;
}
.disabled-button:hover, .cancel-button:hover {
    background-color: #bfbfbf;
}
.dynamic-content {
    padding-left: 25px;
    margin-top: 25px;
}
.empty-activity {
    display: inline-block;
    width: 400px;
    font-weight: bold;
    color: #cecece;
    font-size: x-large;
    text-align: center; 
}
.button-detail-icon {
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.activity-period {
    padding-left: 20px;
    padding-right: 5px;
    text-align: left;
    height: 2.2em;
}
.activity-period-display {
    line-height: 25px;
    color: white;
    text-align: center;
    width: 24%;
    height: 25px;
    border-radius: 5px;
    font-size: small;
    background-color: #7293c6;
}
.activity-period-display-lessons {
    color: #0d4484;
    background-color: white;
    border: 1px solid #0d4484;
}
.activity-period-display-lessons img {
    bottom: -2px;
    position: relative;
    width: 15px;
    height: 15px;
}
.activity-period-display-done {
    background-color: #92929e;
}
/*** my lessons part ***/
.major-button {
    cursor: pointer;
    font-size: 110%;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    border: none;
    text-transform: uppercase;
    padding: 5px 25px 5px 25px;
    color: white;
    width: 300px;
    height: 50px;
    background-color: #63a4fe;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.major-button img {
    padding: 7px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.major-button:hover {
    background-color: #4c7ec4;
}
.major-button:hover img {
    transform: rotate(180deg);
}
.lesson-displayer {
    margin-top: 15px;
    padding: 0 20px 0 20px;
    width: 100%;
}
/*** responsive ***/
@media screen and (max-width: 980px) {
    .right-content-l {
        min-width: 634px;
    }
    .sport-progress-bar {
        width: 45%;
    }
}
@media screen and (max-width: 736px) {
    .right-content-l {
        min-width: 717px;
    }
    .left-content-l .box-white {
        margin: 0;
    }
}
@media all and (max-width: 480px) {
    .right-content-l, .left-content-l {
        width: 100%;
        min-width: 320px;
        max-width: 460px;
        display: block;
    }
    .sport-display {
        height: 5em;
        text-align:left;
        padding-left: 0;
        position:relative;
    }
    .sport-display.sport-add {
        text-align: center;
        border-bottom: none;
        height: 2em;
    }
    .sport-progress-bar {
        margin-left: 1px;
        width: 100% !important;
        display: block;
    }
    .sport-default-check {
        right: 0;
        bottom: 8px;
        position: absolute;
    }
    .larger-sport-display {
        width: 30%;
    }
    .generic-button {
        width: 138px;
    }
    .activity-period {
        padding-left: 0;
    }
    .activity-period-display {
        width: 32%;
    }
    .activity-display {
        height: 7em;
        text-align: left;
    }
    .activity-display-element.activity-display-element-s  {
        width: 32%;
        padding-left: 0;
        padding-right: 0;
    }
    .activity-control {
        display: block;
        width: 100% !important;
        height: auto;
        margin-top: 5px;
        max-width: 100%;
    }
    .generic-button-small { 
        width: 29%;
        font-size: 71%;
    }
    .generic-button-small .button-detail-icon {
        width: 10px;
        height: 10px;
    }
    .activity-separator {
        margin-top: 40px;
        margin-bottom: 12px;
    }
}
@media all and (max-width: 360px) {
    .right-content-l, .left-content-l {
        width: 100%;
        min-width: 320px;
        max-width: 360px;
        display: block;
    }
}