.notification-container {
    display: none;
    top: 0;
    left: 0;
    z-index: 110;
    position: fixed;
    background: transparent;
    padding-top: 56px;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: display 0.3s ease;
    -webkit-transition: display 0.3s ease;
}
.notification-modal {
    color: #505050;
    margin: auto;
    background: white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0px 1px 8px -1px #000000;
}
.notification-modal-header {
    padding: 15px;
    padding-right: 25px;
    border-bottom: 1px solid #b5b5b5;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    vertical-align: middle;
}
.notification-modal-footer {
    cursor: pointer;
    padding: 10px;
    padding-right: 25px;
    border-top: 1px solid #b5b5b5;
    text-align: right;
    vertical-align: middle;
}

.notification-content {
    width: 100%;
    height: 350px;
    max-height: 351px;
    overflow-y: auto;
}
.notification-row {
    height: 70px;
    width: 100%;
    border-top: 1px solid #b5b5b5;
    padding-left: 10px;
    padding-right: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.notification-row:hover {
    background-color: rgb(235, 235, 235);
}
.notification-cell {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.photo-cell {
    text-align: center;
    width: 15%;
}
.text-cell {
    width: 78%;
    text-align: left;
}
.delete-cell {
    width: 4%;
    text-align: center;
}
.photo-notification {
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: url('../img/prof1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.notification-event, .notification-date {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
}
.notification-date {
    color: #b9b9b9;
}
.notification-event > * {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
}
.name-emphasise {
    font-weight: 500;
}
.activity-emphasise {
    color: #5eb6ff;
}
.notification-date > * {
    position: absolute;
    top: 0;
    vertical-align: bottom;
}
.notification-icon {
    padding: 2px;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}
.notification-icon-grey {
    background-color: white;
}
.notification-icon-blue {
    background-color: #5eb6ff;
}
@media screen and (max-width: 980px) {
    .photo-notification {
        margin-left: 0;
    }
    .text-cell {
        font-size: 90%;
    }
}
@media screen and (max-width: 736px) and (min-width: 481px) {
    .notification-modal {
        width: 70%;
    }
}
@media all and (max-width: 480px) {
/*}
@media all and (max-width: 360px) {*/
    .notification-modal {
        width: 99%;
    }
    .photo-notification {
        width: 47px;
        height: 47px;
    }
}