<div class="generic-modal-container" id="add-sport-modal">
    <div class="generic-modal">
        <div class="generic-modal-header">
            <div class="generic-modal-header-text">ajouter un sport</div>
            <div class="generic-modal-header-close"><img src="img/remove-black.svg"></div>
        </div>
        <div class="modal-content-row add-sport-title">
            <div class="right-shift">
                Sports/ Niveau
            </div>
            <div class="modal-sport-add">
                Ajouter un autre sport <img src="img/plus.svg" class="modal-sport-add-icon">
            </div>
        </div>
        <div class="modal-content-row any-sport">
            <div class="custom-select select-menu-left" style="width: 49%;">
                <select class="select-menu">
                    <option value="hide">Type de pratique</option>
                    <option value="skialpin">Ski Alpin</option>
                    <option value="snowboard">Snowboard</option>
                </select>
            </div>
            <div class="custom-select select-menu-right" style="width: 49%;">
                <select class="select-menu">
                    <option value="hide">Niveau</option>
                    <option value="skialpin">Débutant</option>
                    <option value="snowboard">Confirmé</option>
                </select>
            </div>
        </div>
        <div class="modal-content-row any-sport">
            <div class="custom-select select-menu-left" style="width: 49%;">
                <select class="select-menu">
                    <option value="hide">Type de pratique</option>
                    <option value="skialpin">Ski Alpin</option>
                    <option value="snowboard">Snowboard</option>
                </select>
            </div>
            <div class="custom-select select-menu-right" style="width: 49%;">
                <select class="select-menu">
                    <option value="hide">Niveau</option>
                    <option value="skialpin">Débutant</option>
                    <option value="snowboard">Confirmé</option>
                </select>
            </div>
        </div>
        <div class="modal-content-row">
            <button class="generic-modal-validate">
                valider ajout
            </button>
        </div>
    </div>
</div>
<script>
    var x, i, j, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 0; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function(e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                if (s.options[i].innerHTML == this.innerHTML) {
                    s.selectedIndex = i;
                    h.innerHTML = this.innerHTML;
                    y = this.parentNode.getElementsByClassName("same-as-selected");
                    for (k = 0; k < y.length; k++) {
                    y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
            });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
            arrNo.push(i)
            } else {
            y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
    $(document).ready(function() {
        $('.generic-modal-header-close').click(function() {
            console.log('x');
            $('.generic-modal-container').css('display','none');
        });
        $('.generic-modal-container').click(function(e) {
                $(this).css('display','none');
        }).children().click(function(e) {
            return false;
        });
    });
</script>