<div class="generic-modal-container" id="connect-modal">
    <div class="generic-modal">
        <div class="generic-modal-header">
            <div class="generic-modal-header-text">CONNEXION</div>
            <div class="generic-modal-header-close"><img src="img/remove-black.svg"></div>
        </div>
        <div class="modal-content-row">
            <button class="social-button facebook-button">
                <div class="social-icon"><img src="../img/fb-logo.svg"></div>
                Facebook
            </button>
        </div>
        <div class="modal-content-row">
            <button class="social-button gmail-button">
                <div class="social-icon"><img src="../img/gmail.svg"></div>
                Gmail
            </button>
        </div>
        <div class="modal-content-row">
            <button class="social-button linkedin-button">
                <div class="social-icon"><img src="../img/linkedin-logo.svg"></div>
                Linkedin
            </button>
        </div>
        <div class="modal-content-row or-display">
            <div class="bar"></div>
            <div class="text">OU</div>
            <div class="bar"></div>
        </div>
        <div class="modal-content-row">
            Adresse mail
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Email">
        </div>
        <div class="modal-content-row">
            <input type="password" class="browser-default generic-modal-input generic-modal-text" placeholder="Mot de passe">
        </div>
        <div class="modal-content-row lowest-row">
            <button class="generic-modal-validate">
                me connecter
            </button>
        </div>
        <div class="modal-content-row" style="text-align: center;">
            <a href="#" class="modal-link">mot de passe oublié?</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.generic-modal-header-close').click(function() {
            console.log('x');
            $('.generic-modal-container').css('display','none');
        });
        $('.generic-modal-container').click(function(e) {
                $(this).css('display','none');
        }).children().click(function(e) {
            return false;
        });
    });
</script>