<div class="generic-modal-container" id="edit-about-modal">
    <div class="generic-modal">
        <div class="generic-modal-header">
            <div class="generic-modal-header-text">modifier "a propos"</div>
            <div class="generic-modal-header-close"><img src="img/remove-black.svg"></div>
        </div>
        <div class="modal-content-row">
            Description
        </div>
        <div class="modal-content-row">
            <textarea class="browser-default generic-modal-input generic-modal-textarea" placeholder="Saisissez votre texte"></textarea>
        </div>
        <div class="modal-content-row">
            <button class="generic-modal-validate">
                valider modifications
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.generic-modal-header-close').click(function() {
            console.log('x');
            $('.generic-modal-container').css('display','none');
        });
        $('.generic-modal-container').click(function(e) {
                $(this).css('display','none');
        }).children().click(function(e) {
            return false;
        });
    });
</script>