<div class="generic-modal-container" id="edit-profile-modal">
    <div class="generic-modal">
        <div class="generic-modal-header">
            <div class="generic-modal-header-text">modifier mon profil</div>
            <div class="generic-modal-header-close"><img src="img/remove-black.svg"></div>
        </div>
        <div class="modal-content-row">
            <div class="profile-picture-mod"></div>
            <div class="mod-button">
                <button class="generic-modal-input generic-modal-button">
                    <img src="img/photo-camera.svg"> Modifier photo
                </button>
            </div>
        </div>
        <div class="modal-content-row">
            <img class="mod-icon" src="img/user-g.svg"> Informations profil
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Nom">
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Prénom">
        </div>
        <div class="modal-content-row">
            <button class="generic-modal-validate">
                valider modifications
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.generic-modal-header-close').click(function() {
            console.log('x');
            $('.generic-modal-container').css('display','none');
        });
        $('.generic-modal-container').click(function(e) {
                $(this).css('display','none');
        }).children().click(function(e) {
            return false;
        });
    });
</script>