<div class="generic-modal-container" id="edit-passwrd-modal">
    <div class="generic-modal">
        <div class="generic-modal-header">
            <div class="generic-modal-header-text">Changer mot de passe</div>
            <div class="generic-modal-header-close"><img src="img/remove-black.svg"></div>
        </div>
        <div class="modal-content-row">
            Saisissez mot de passe actuel
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Mot de passe">
        </div>
        <div class="modal-content-row">
            Saisissez nouveau mot de passe
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Mot de passe">
        </div>
        <div class="modal-content-row">
            Confirmez nouveau mot de passe
        </div>
        <div class="modal-content-row">
            <input type="text" class="browser-default generic-modal-input generic-modal-text" placeholder="Mot de passe">
        </div>
        <div class="modal-content-row">
            <button class="generic-modal-validate">
                valider mot de passe
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.generic-modal-header-close').click(function() {
            console.log('x');
            $('.generic-modal-container').css('display','none');
        });
        $('.generic-modal-container').click(function(e) {
                $(this).css('display','none');
        }).children().click(function(e) {
            return false;
        });
    });
</script>