
        <div class="notification-container" id="notifications-modal">
            <div class="notification-modal">
                <div class="notification-modal-header">
                    notifications
                </div>
                <div class="notification-content">
                    <!-- one notification element starts here -->
                    <div class="notification-row">
                        <div class="notification-cell photo-cell">
                            <div class="photo-notification">
                              <!-- photo here -->  
                            </div>
                        </div>
                        <div class="notification-cell text-cell">
                            <div class="notification-event"><span><span class="name-emphasise">Arnaud Pasteur</span> vous a ajouté à ses favoris.</span></div>
                            <div class="notification-date"><img src="../img/add.svg" class="notification-icon notification-icon-grey"> Aujourd'hui à 12:20</div>
                        </div>
                        <div class="notification-cell delete-cell">
                            <div class="delete-box" style="margin-left: 0px; display: inline-block;">
                                <img src="../img/remove.svg">
                            </div>
                        </div>
                    </div>
                    <!-- one notification element stops here -->
                    <!-- one notification element starts here -->
                    <div class="notification-row">
                        <div class="notification-cell photo-cell">
                            <div class="photo-notification">
                              <!-- photo here -->  
                            </div>
                        </div>
                        <div class="notification-cell text-cell">
                            <div class="notification-event"><span><span class="name-emphasise">Lucie Vigenron</span> s'est inscrit à l'activité <span class="activity-emphasise">"Leçon Ski Wild Alps"</span></span></div>
                            <div class="notification-date"><img src="../img/flag-black-shape.svg" class="notification-icon notification-icon-blue"> Aujourd'hui à 12:20</div>
                        </div>
                        <div class="notification-cell delete-cell">
                            <div class="delete-box" style="margin-left: 0px; display: inline-block;">
                                <img src="../img/remove.svg">
                            </div>
                        </div>
                    </div>
                    <!-- one notification element stops here -->
                    <!-- one notification element starts here -->
                    <div class="notification-row">
                        <div class="notification-cell photo-cell">
                            <div class="photo-notification">
                              <!-- photo here -->  
                            </div>
                        </div>
                        <div class="notification-cell text-cell">
                            <div class="notification-event"><span>Un changement a été opéré sur l'activité <span class="activity-emphasise">"Leçon Ski Wild Alps"</span></span></div>
                            <div class="notification-date"><img src="../img/reload.svg" class="notification-icon notification-icon-blue"> Aujourd'hui à 12:20</div>
                        </div>
                        <div class="notification-cell delete-cell">
                            <div class="delete-box" style="margin-left: 0px; display: inline-block;">
                                <img src="../img/remove.svg">
                            </div>
                        </div>
                    </div>
                    <!-- one notification element stops here -->
                    <!-- one notification element starts here -->
                    <div class="notification-row">
                        <div class="notification-cell photo-cell">
                            <div class="photo-notification">
                              <!-- photo here -->  
                            </div>
                        </div>
                        <div class="notification-cell text-cell">
                            <div class="notification-event"><span><span class="name-emphasise">Amandine Lupin</span> vous a envoyé un message.</span></div>
                            <div class="notification-date"><img src="../img/msg.svg" class="notification-icon notification-icon-blue"> Aujourd'hui à 12:20</div>
                        </div>
                        <div class="notification-cell delete-cell">
                            <div class="delete-box" style="margin-left: 0px; display: inline-block;">
                                <img src="../img/remove.svg">
                            </div>
                        </div>
                    </div>
                    <!-- one notification element stops here -->
                    <!-- one notification element starts here -->
                    <div class="notification-row">
                        <div class="notification-cell photo-cell">
                            <div class="photo-notification">
                              <!-- photo here -->  
                            </div>
                        </div>
                        <div class="notification-cell text-cell">
                            <div class="notification-event"><span><span class="name-emphasise">GO GO SKI</span> vous souhaite la bienvenue.</span></div>
                            <div class="notification-date"><img src="../img/smile.svg" class="notification-icon notification-icon-blue"> Aujourd'hui à 12:20</div>
                        </div>
                        <div class="notification-cell delete-cell">
                            <div class="delete-box" style="margin-left: 0px; display: inline-block;">
                                <img src="../img/remove.svg">
                            </div>
                        </div>
                    </div>
                    <!-- one notification element stops here -->
                </div>
                <div class="notification-modal-footer">
                    Tout supprimer <img src="../img/rubbish-bin.svg" class="notification-icon">
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var y = document.getElementById("dark-bck");
                $('.generic-modal-header-close').click(function() {
                    console.log('x');
                    $('.generic-modal-container').css('display','none');
                });
                $('.notification-container').click(function(e) {
                        $(this).css('display','none');
                        y.className = "dark-background-menu";
                }).children().click(function(e) {
                    return false;
                });
            });
        </script>